{% extends "base.jinja" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/donation.css') }}" />
{% endblock %}

{% block body %}
<div class="formContainer">
    <div class="form-group">
        <br>
        <label for="">{{ charity['name'] }} - Payment</label>
        <br>
        <span class="left">
            <input type="radio" name="radio" value="new"> Use New Card
        </span>
        <span class="right">
            <input type="checkbox" name="Save" value="saved"> Save This Card
        </span>
        <br>
        <br>
        <input type="text" class="form-control" id="ccNum" placeholder="Credit Card Number">
        <br>
        <div class='row'>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <input class="form-control" id="ccv" size="30" type="text" placeholder="CCV"/>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <input class="form-control" id="expMonth" size="30" type="number" placeholder="Exp. Month"/>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <input class="form-control" id="Exp. Year" size="30" type="number" placeholder="Exp. Year"/>
                </div>
            </div>
        </div>
        <input type="text" class="form-control" id="streetAddress1" placeholder="Billing Street Line 1">
        <br>
        <input type="text" class="form-control" id="streetAddress2" placeholder="Billing Street Line 2">
        <br>
        <div class='row'>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <input class="form-control" id="city" size="30" type="text" placeholder="City"/>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                     <select class="form-control" name="state">
                        <option selected disabled>State</option>
                        {% for n in states %}
                            <option>{{n}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <input class="form-control" id="zip" size="30" type="number" placeholder="Zip Code"/>
                </div>
            </div>
        </div>
        <br>
        <input type="radio" name="radio" value="saved"> Use Card Ending In {{ creditCard['last4'] }}
        <br>
        <br>
        <input type="text" class="form-control" id="amount" placeholder="Amount">
        <br>
        <br>
        <button class="btn btn-grey leftBox formButtons"><b>Back</b></button>
        <button class="btn btn-success rightBox formButtons"><b>Submit</b></button>
    </div>
</div>
{% endblock %}
