body {margin:0;}

.topBanner {
    height: 25px;
}

.bannerTitle{
    padding-left: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #4CAF50;
    padding-bottom: 100px;
    margin-bottom: -100px;
    background-clip: content-box; 

}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    width: 16.65%;
    position:relative;
}

.topnav a:hover {
    background-color: #C8E6C9;
    color: white;
    text-decoration: none;
}

.topnav a.active {
    background-color: white;
    color: white;
    text-decoration: none;
}

.logo {
    height: 50px;
}

.searchBar {
    width: 450% !important;
}

.searchIcon {
    margin-left: 700px;
}

.topnav .username {
    float: right;
    background-color: Transparent;
    border: none;    
    color: white;
    text-align: center;    
    padding: 10px 8px;
    font-size: 17px;
}


.btn-grey {
  color: #ffffff;
  background-color: #E0E0E0;
  border-color: #E0E0E5;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: #ffffff;
  background-color: #E0E0E9;
  border-color: #E0E0E5;
}

.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  background-image: none;
}

.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #E0E0E0;
  border-color: #E0E0E5;
}

.btn-grey .badge {
  color: #E0E0E0;
  background-color: #ffffff;
}

.btn-purple {
  color: #FFFFFF;
  background-color: #673AB7;
  border-color: #130269;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  color: #FFFFFF;
  background-color: #49247A;
  border-color: #130269;
}