.formContainer {
    width: 550px;
    height: 310px;
    margin: 0 auto;
}

.leftBox {
    float: left;
    width: 45%;
}

.rightBox {
    float: right;
    width: 45%;
}

.formButtons {
    width: 30%;
    height: 20%;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 2px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

.right{
    float:right;
}

.left{
    float:left;
}
