.profileContainer {
    margin-left: 18%;
    margin-right: 18%;
    font-size: 25px
}

.profileTitle {
    font-size: 53px
}

#info {
	font-size: 20px
}

.formContainer {
    width: 550px;
    height: 310px;
    margin: 0 auto;
}

.leftBox {
    float: left;
    width: 45%;
}

.rightBox {
    float: right;
    width: 45%;
}

.formButtons {
    width: 30%;
    height: 20%;
}

.profileButtons {
    min-width: 145px;
    width: 18%;
    height: 20%;
}

.saveButtons {
	width: 40%;
    height: 30%;
}




.info {
    padding: 15px;
    border: solid black 1px;
    font-size: 15px
}

.picture {
    display: inline-block;
    border: solid black 1px;
    width: 150px;
    height: 200px;
}

.homeBox {
    text-align: center;
    vertical-align: center;
    display: inline-block;
    width: 150px;
    height: 200px; 
}

.homeButtons {
    width: 100%;
}

.messageButtons {
    width: 10%;
    border-radius: 10px;
    float: right;
    vertical-align: middle;
}

.message {
    display: inline-block;
    vertical-align: middle;
    line-height: 250%;
    margin-left: -9%;
    width: 118%;
    margin-top: 10px;
    font-size: 15px;
    background: #E8F5E9;
    border-radius: 10px;
    padding: 5px;
}