{% extends "base.jinja" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/profile.css') }}" />
{% endblock %}

{% block body %}

    <div class="profileContainer">
        <div class="profileTitle">
            Profile
        </div>
        <b>Name:</b>
        {{ userInfo["firstName"] }} {{ userInfo["lastName"] }}
        <br>
        <b>Email:</b>
        {{user["email"]}}
        <br>
        <b>Address:</b>
        {{userInfo["streetAdd1"]}}
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{userInfo["streetAdd2"]}}
        <br>
        <b>City:</b>        
        {{userInfo["city"]}}
        <b>State:</b>        
        {{userInfo["state"]}}
        <b>Zipcode:</b>        
        {{userInfo["zip"]}}
        <br>
        <br>
        <button class="btn btn-success profileButtons" onClick="location.href='../personal'" >Edit Personal Info</button>
        <button class="btn btn-success profileButtons" onClick="location.href='../payment'">Edit Payment Info</button>
        <button class="btn btn-success profileButtons" onClick="location.href='../password'">Edit Password</button>
        
    </div>

{% endblock %}