{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/profile.css') }}" />
{% endblock %}

{% block body %}
<div class="formContainer">
    <div class="form-group">
        <br>
        <label class="profileTitle">Profile - Payment</label>
        <br>
        <label for="">Your Saved Credit Cards</label>
        <br>
        {% for card in cards %}
                <input type="checkbox" value="{{card}}"> Card Ending in {{card}}
                <br>
        {% endfor %}
        <br>
        <button class="btn btn-purple leftBox formButtons"><b>Remove Cards</b></button>
        <br>
        <br>
        <br>
        <label for="">Add New Credit Card</label>        
        <form action="../savePayment" method="post">
        <br>
        <input type="text" class="form-control" id="ccNum" placeholder="Credit Card Number">
        <br>
        <div class='row'>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <input class="form-control" id="ccv" size="30" type="text" placeholder="CCV"/>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <input class="form-control" id="expMonth" size="30" type="number" placeholder="Exp. Month"/>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <input class="form-control" id="Exp. Year" size="30" type="number" placeholder="Exp. Year"/>
                </div>
            </div>
        </div>
        <input type="text" class="form-control" id="streetAddress1" placeholder="Billing Street Line 1">
        <br>
        <input type="text" class="form-control" id="streetAddress2" placeholder="Billing Street Line 2">
        <br>
        <div class='row'>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <input class="form-control" id="city" size="30" type="text" placeholder="City"/>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <select class="form-control" id="state">
                        <option value="" disabled selected>State</option>
                        <option value="Alabama">Alabama</option>
                        <option value="Alaska">Alaska</option>
                        <option value="Arizona">Arizona</option>
                    </select>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <input class="form-control" id="zip" size="30" type="number" placeholder="Zip Code"/>
                </div>
            </div>
        </div>
        <button class="btn btn-grey leftBox formButtons" formaction="../profile"><b>Back</b></button>
        <button class="btn btn-success rightBox formButtons"><b>Add Card</b></button>
        </form>
        <br>
        <br>
        <br>
    </div>
</div>
{% endblock %}