{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/donorProfile.css') }}" />
{% endblock %}

{% block body %}
<div class="formContainer">
    <div class="form-group">
        <form action="../savePassword" method="post">
        <br>
        <label class="profileTitle">Profile - Password</label>
        <br>
        <input type="password" class="form-control leftBox" id="oldpassword" placeholder="Old Password">
        <br>
        <br>
        <br>
        <input type="password" class="form-control leftBox" id="newpassword" placeholder="New Password">
        <input type="password" class="form-control rightBox" id="confirmPassword" placeholder="Confirm New Password">
        <br>
        <br>
        <br>
        <button class="btn btn-grey leftBox formButtons" formaction="../profile"><b>Back</b></button>
        <button class="btn btn-success rightBox saveButtons"><b>Save Changes</b></button>
        <br>
        <br>
        <br>
        </form>
    </div>
</div>
{% endblock %}