<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/base.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}

</head>
<body>
    <div class="topnav">
        <a href="/">logo placeholder</a>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control searchBar" placeholder="Search Charities...">
            </div>
            <button type="submit" class="btn btn-default searchIcon"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <a href="" class="username">
            {{ username }}
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
    </div>




{% block body %}
{% endblock %}

</body>
</html>