<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/base.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}

</head>
<body>
    <div class="topnav">
        {% if username != null %}
            <a href="/newsFeed"><img src="/static/images/Donatoro-logo.png" class="logo"/></a>
            <div class="dropdown username">
                <button class="dropdown-toggle username" type="button" data-toggle="dropdown">{{username}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="../profile">My Profile</a></li>
                    <li><a href="../logout">Sign Out</a></li>
                </ul>
            </div>
            <!--<a href="" class="username">
                {{ username }}
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>-->
            <div id="searchDiv">
                <form method="get" action="{{ url_for('results') }}" class="navbar-form navbar-left" id="searchForm" role="search">
                    <button type="button" onclick="window.location='/results'" class="btn btn-default searchIcon"><span class="glyphicon glyphicon-search"></span></button>
                    <span><input type="text" class="form-control searchBar" name="searchQuery" placeholder="Search Charities..."></span>
                </form>
            </div>
        {% else %}
            <a href="/"><img src="/static/images/Donatoro-logo.png" class="logo"/></a>
        {% endif %}
    </div>

{% block sidebar %}
{% endblock %}

{% block body %}
{% endblock %}

</body>
</html>
