<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/base.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}

</head>
<body>
    <div class="topnav">
        {% if user and user["isDonor"] %}
        <a href="/newsFeed"><img src="/static/images/Donatoro-logo.png" class="logo"/></a>
        {% elif user and not user["isDonor"] %}
        <a href="/charity/admin"><img src="/static/images/Donatoro-logo.png" class="logo" style="float: left;"/></a>
        {% else %}
        <a href="/"><img src="/static/images/Donatoro-logo.png" class="logo"/></a>
        {% endif %}

        {% if user %}
        {% if user["isDonor"] %}
            <div id="searchDiv">
                <form method="get" action="{{ url_for('results') }}" class="navbar-form navbar-left" id="searchForm" role="search">
                    <button type="submit" class="btn btn-default searchIcon"><span class="glyphicon glyphicon-search"></span></button>
                    <span><input type="text" class="form-control searchBar" name="searchQuery" placeholder="Search Charities..."></span>
                </form>
            </div>
        {% endif %}
        <div class="dropdown username">
            {% if user["isDonor"] %}
                <button class="dropdown-toggle username" type="button" data-toggle="dropdown">{{ userInfo["firstName"] }} {{ userInfo["lastName"] }}<span class="caret"></span></button>
            {% else %}
                <button class="dropdown-toggle username" type="button" data-toggle="dropdown" style="float: right;">{{ userInfo["name"] }}<span class="caret"></span></button>
            {% endif %}
            <ul class="dropdown-menu" style="right: 0; left: inherit;">
                <li><a href="../profile">My Profile</a></li>
                <li><a href="../logout">Sign Out</a></li>
            </ul>
        </div>
        {% endif %}
    </div>

{% block sidebar %}
{% endblock %}

{% block body %}
{% endblock %}

</body>
</html>
