{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/profile.css') }}" />
{% endblock %}

{% block body %}

    <script>
        function hideMessage() {
            var x = document.getElementById('message');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
    </script>

<div class="profileContainer">
  
    {% if message != "" %}
        <div class="message" id="message">
            {{message}}
            <button class="btn btn-purple messageButtons" onclick="hideMessage()"><b>Dismiss</b></button>
        </div>
    {% endif %}

    <div class="profileTitle">
        {{charityName}}
    </div>
    <div class="info">
        {{info}}
    </div>
    <br>
    <label>Images</label> 
    <br>
    <table style="width:100%">
        <tr>
            {% for n in pics %}        
                <td><img src="{{ url_for('static', filename=n) }}" class="picture"/></td>
            {% endfor %}
            <td>
                <button class="btn btn-success homeButtons" onClick="location.href='../donate/{{charityName}}'" ><b>Donate</b></button>
                <br>
                <br>                
                <button class="btn btn-purple homeButtons" onClick="location.href='../follow/{{charityName}}'"><b>Follow</b></button>
            </td>
        </div>
        </tr>
    </table>
</div>


{% endblock %}