{% extends "charityAdminBase.jinja" %}
{% block body %}
    <div id="charity" class="row charity-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1>Welcome, Charity Name Here</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5 well charity-well">
                <h4>Here's some stuff</h4>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 charity-well">
                <div class="row well charity-well-sub">
                    <h4>Followers</h4>
                </div>
                <div class="row well charity-well-sub">
                    <h4>Goals</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
