{% extends "charityAdminBase.jinja" %}
{% block body %}
    <div id="charity" class="row charity-body">
        <div class="col-12">
            <h1>Welcome, Charity Name Here</h1>
        </div>
    </div>
{% endblock %}
