{% extends "base.jinja" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/newsFeed.css') }}" />
{% endblock %}

{% block body %}
    <script>
        function hideMessage() {
            var x = document.getElementById('message');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
    </script>

    {% if message != "" %}
        <div class="message" id="message">
            {{message}}
            <button class="btn btn-purple messageButtons" onclick="hideMessage()"><b>Dismiss</b></button>
        </div>
    {% endif %}

    <div class="newsContainer">
        <div class="newsTitle">
            News
        </div>
        <div>
            {% for n in news %}
                <div>
                    {{ n['title'] }} - {{ n['date'] }}
                </div>
                <br>
                <div class="article">
                    {{ n['post'] }}
                </div>
                <br>
                <br>
                <br>
            {% endfor %}
        </div>
    </div>

{% endblock %}