{% extends "base.jinja" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/newsFeed.css') }}" />
{% endblock %}

{% block body %}

    <div class="newsContainer">
        <div class="newsTitle">
            News
        </div>
        <div>
            {% for n in news %}
                <div>
                    {{ n['title'] }} - {{ n['date'] }}
                </div>
                <br>
                <div class="article">
                    {{ n['post'] }}
                </div>
                <br>
                <br>
                <br>
            {% endfor %}
        </div>
    </div>

{% endblock %}