{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/profile.css') }}" />
{% endblock %}

{% block body %}


<div class="formContainer">
    <script>
        function hideMessage() {
            var x = document.getElementById('message');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
        function check(input) {
            if (input.value != document.getElementById('password').value) {
                document.getElementById('save').setAttribute("disabled","disabled");
                document.getElementById('error').innerHTML = 'The New Passwords Do Not Match!';
            } else {

                document.getElementById('error').innerHTML = '';
                document.getElementById('save').removeAttribute("disabled");
            }
        }
    </script>


    <div class="form-group">
        <form action="../savePassword" method="post">
        <br>
        <label class="profileTitle">Profile - Password</label>
        <br>
        <input type="password" class="form-control leftBox" name="oldpassword" placeholder="Old Password">
        <div class="rightBox" id="error" style="color:red;">{{message}}</div>
        <br>
        <br>
        <br>
        <input type="password" class="form-control leftBox" name="newpassword" id="password" placeholder="New Password">
        <input type="password" class="form-control rightBox" name="confirmpassword" placeholder="Confirm New Password" oninput="check(this)">
        <br>
        <br>
        <br>
        <button class="btn btn-grey leftBox formButtons" formaction="../profile"><b>Back</b></button>
        <button class="btn btn-success rightBox saveButtons" id="save" disabled><b>Save Changes</b></button>
        <br>
        <br>
        <br>
        </form>
    </div>
</div>
{% endblock %}