{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/profile.css') }}" />
{% endblock %}

{% block body %}


<div class="formContainer">
    <script>
        function hideMessage() {
            var x = document.getElementById('message');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
    </script>

    {% if message != "" %}
        <div class="message" id="message" style="color:red;width:158%;margin-left: -24%;">
            {{message}}
            <button class="btn btn-purple messageButtons" onclick="hideMessage()"><b>Dismiss</b></button>
        </div>
    {% endif %}

    <div class="form-group">
        <form action="../savePassword" method="post">
        <br>
        <label class="profileTitle">Profile - Password</label>
        <br>
        <input type="password" class="form-control leftBox" name="oldpassword" placeholder="Old Password">
        <br>
        <br>
        <br>
        <input type="password" class="form-control leftBox" name="newpassword" placeholder="New Password">
        <input type="password" class="form-control rightBox" name="confirmpassword" placeholder="Confirm New Password">
        <br>
        <br>
        <br>
        <button class="btn btn-grey leftBox formButtons" formaction="../profile"><b>Back</b></button>
        <button class="btn btn-success rightBox saveButtons"><b>Save Changes</b></button>
        <br>
        <br>
        <br>
        </form>
    </div>
</div>
{% endblock %}