{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/results.css') }}" />
{% endblock %}

{% block body %}
<div id="mySidenav" class="sidenav">
    <div>
        <p style="float: left"><img src="../static/images/filter.svg" height="20px"></p>
        <p style="float: right;"><h2>Filter</h2></p>
    </div>
    <br>
{#    <a href="#" class="w3-bar-item w3-button">Link 1</a>#}
{#    <a href="#" class="w3-bar-item w3-button">Link 2</a>#}
{#    <a href="#" class="w3-bar-item w3-button">Link 3</a>#}
    <input type="checkbox" name="filter" value="tag1">tag1</input>
    <br>
    <input type="checkbox" name="filter" value="tag2">tag2</input>
</div>

    <h1>Search Results</h1>
<div id="results" class="results">
    <div class="box"> {# style="float: left"> #}
        <h2>Title</h2>
        <div class="description">
            <p>Description</p>
        </div>
    </div>

    <div class="box"> {#  style="float: right"> #}
        <h2>Title</h2>
        <div class="description">
            <p>Description</p>
        </div>
    </div>
</div>

    <div id="results" class="results">
    <div class="box"> {# style="float: left"> #}
        <h2>Title</h2>
        <div class="description">
            <p>Description</p>
        </div>
    </div>

    <div class="box"> {#  style="float: right"> #}
        <h2>Title</h2>
        <div class="description">
            <p>Description</p>
        </div>
    </div>
</div>

    <div id="results" class="results">
    <div class="box"> {# style="float: left"> #}
        <h2>Title</h2>
        <div class="description">
            <p>Description</p>
        </div>
    </div>

    <div class="box"> {#  style="float: right"> #}
        <h2>Title</h2>
        <div class="description">
            <p>Description</p>
        </div>
    </div>
</div>

{% endblock %}
