{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/registration.css') }}" />
{% endblock %}

{% block body %}
<div class="formContainer">
<form action="/">
    <div class="form-group">
        <br>
        <label for="">Is this information correct?</label>
        <br>
        <input type="text" class="form-control leftBox" id="charityName" value="Charity Name:
{% if session.get('charityName') != None %} {{ session.get('charityName') }}{% endif %}" readonly>
        <input type="text" class="form-control rightBox" id="501c" value="IRS 501c:
{% if session.get('501c') != None %} {{ session.get('501c') }}{% endif %}" readonly>
        <br>
        <br>
        <br>
        <input type="text" class="form-control" id="tags" value="Charity Tags:
{% if session.get('tags') != None %} {{ session.get('tags') }}{% endif %}" readonly>
        <br>
        <input type="text" class="form-control" id="email" value="Charity Email:
{% if session.get('email') != None %} {{ session.get('email') }}{% endif %}" readonly>
        <br>
        <input type="text" class="form-control" id="address"
               value="Billing Information:{% if session.get('charityName') != None %}{% for b in charityInfo['billing'] %}{{ b }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}" readonly>
        <br>
        <textarea class="form-control" id="description" rows="6" readonly>Charity Description:
            {% if session.get('description') != None %} {{ session.get('description') }}{% endif %}</textarea>
        <br>
</form>
        <a href="/charityRegistration2"><button type="button" class="btn btn-grey leftBox formButtons"><b>Back</b></button></a>
        <button class="btn btn-success rightBox formButtons"><b>Submit</b></button>
    </div>
</div>
{% endblock %}