{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/registration.css') }}" />
{% endblock %}

{% block body %}
<div class="formContainer">
<form action="">
    <div class="form-group">
        <br>
        <label for="">Is this information correct?</label>
        <br>
        <input type="text" class="form-control leftBox" id="charityName" value="Charity Name:
{% if session.get('charityName') != None %} {{ session.get('charityName') }}{% endif %}" readonly>
        <input type="text" class="form-control rightBox" id="501c" value="IRS 501c:
{% if session.get('501c') != None %} {{ session.get('501c') }}{% endif %}" readonly>
        <br>
        <br>
        <br>
        <input type="text" class="form-control" id="tags" value="Charity Tags:
{% if session.get('tags') != None %} {{ session.get('tags') }}{% endif %}" readonly>
        <br>
        <input type="text" class="form-control" id="email" value="Charity Email:
{% if session.get('email') != None %} {{ session.get('email') }}{% endif %}" readonly>
        <br>
        <input type="text" class="form-control" id="address"
               value="Billing Information:{% if session.get('charityName') != None %}{% for b in charityInfo['billing'] %}{{ b }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}" readonly>
        <br>
        <textarea class="form-control" id="description" rows="6" readonly>Charity Description:
            {% if session.get('description') != None %} {{ session.get('description') }}{% endif %}</textarea>
        <br>
</form>
<form action="/charityRegister" method="post">
    <input type="text" hidden name="email" value="{{charityInfo["email"]}}">
    <input type="text" hidden name="password" value="{{charityInfo["pass"]}}">
    <input type="text" hidden name="name" value="{{charityInfo["name"]}}">
    <input type="text" hidden name="501c" value="{{charityInfo["501c"]}}">
    <input type="text" hidden name="tags" value="{{charityInfo["tags"]}}">
    <input type="text" hidden name="desc" value="{{charityInfo["description"]}}">
    <input type="text" hidden name="addr" value="{{charityInfo["billing"][0]}}">
    <input type="text" hidden name="city" value="{{charityInfo["billing"][1]}}">
    <input type="text" hidden name="state" value="{{charityInfo["billing"][2]}}">
    <input type="text" hidden name="zip" value="{{charityInfo["billing"][3]}}">
    <a href="/charityRegistration2"><button type="button" class="btn btn-grey leftBox formButtons"><b>Back</b></button></a>
    <input type="submit" class="btn btn-success rightBox formButtons" style="font-weight: 700;">
</form>
</div>
</div>
{% endblock %}