{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/registration.css') }}" />
{% endblock %}

{% block body %}
<div class="formContainer">
    <div class="form-group">
        <br>
        <label for="">Billing Information</label>
        <input type="text" class="form-control" id="streetAddress" placeholder="Street Address">
        <br>
            <div class='row'>
        <div class='col-sm-4'>
            <div class='form-group'>
                <input class="form-control" id="city" size="30" type="text" placeholder="City"/>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class='form-group'>
                <select class="form-control" name="state">
                        <option selected disabled>State</option>
                        {% for n in states %}
                            <option>{{n}}</option>
                        {% endfor %}
                    </select>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class='form-group'>
                <input class="form-control" id="zip" size="30" type="number" placeholder="Zip Codes"/>
            </div>
        </div>
    </div>
        <select class="form-control" name="country">
            <option selected disabled>Country</option>
           {% for n in countries %}     
                    <option>{{n}}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button class="btn btn-grey leftBox formButtons"><b>Back</b></button>
        <button class="btn btn-success rightBox formButtons"><b>Submit</b></button>
    </div>
</div>
{% endblock %}