{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/registration.css') }}" />
{% endblock %}

{% block body %}
<div class="formContainer">
<script>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            document.getElementById('save').setAttribute("disabled","disabled");
            document.getElementById('error').innerHTML = 'The New Passwords Do Not Match!';
            $("#errorbox").show()
        } else {
            document.getElementById('error').innerHTML = '';
            document.getElementById('save').removeAttribute("disabled");
            $("#errorbox").hide()
        }
    }
</script>
<form action="/charityRegistration2" method="post">
    <div class="form-group">
        <br>
        <label for="">Login Info</label>
        <input type="email" class="form-control" name="email" placeholder="Charity Email"
                {% if session.get('email') != None %} value ="{{ session['email'] }}"{% endif %} required>
        <br>
        <div id="errorbox" hidden>
        <div id="error" class="rightBox" style="color:red;"></div>
        <br>
        <br>
        </div>
        <input type="password" class="form-control leftBox" id="password" placeholder="Password" required>
        <input type="password" class="form-control rightBox" id="confirmPassword" placeholder="Confirm Password" oninput="check(this)" required>
        <br>
        <br>
        <br>
        <label for="">Public Information</label>
        <br>
        <input type="text" class="form-control leftBox" name="charityName" placeholder="Charity Name"
                {% if session.get('charityName') != None %} value ="{{ session['charityName'] }}"{% endif %} required>
        <input type="text" class="form-control rightBox" name="501c" placeholder="IRS 501c"
                {% if session.get('501c') != None %} value ="{{ session['501c'] }}"{% endif %} required>
        <br>
        <br>
        <br>
        <input type="text" class="form-control" name="tags" placeholder="Charity Tags Separated by Spaces"
                {% if session.get('tags') != None %} value ="{{ session['tags'] }}"{% endif %} required>
        <br>
        <input type="text" class="form-control descriptionBox" name="description" placeholder="Charity Description"
                {% if session.get('description') != None %} value ="{{ session['description'] }}"{% endif %} required>
        <br>

        <a href="/selection"><button type="button" class="btn btn-grey leftBox formButtons"><b>Back</b></button></a>
        <button id="save" class="btn btn-success rightBox formButtons" disabled><b>Next</b></button>
    </div>
</form>
</div>
{% endblock %}