{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/registration.css') }}" />
{% endblock %}

{% block body %}
<div class="formContainer">
<form action="/charityConfirmation" method="post">
    <div class="form-group">
        <br>
        <label for="">Billing Information</label>
        <input type="text" class="form-control" name="streetAddress" placeholder="Street Address"
                {% if session.get('addressInfo') != None %} value ="{{ session.get('addressInfo')[0] }}"{% endif %}
               required>
        <br>
            <div class='row'>
        <div class='col-sm-4'>
            <div class='form-group'>
                <input class="form-control" name="city" size="30" type="text" placeholder="City"
                        {% if session.get('addressInfo') != None %} value ="{{ session.get('addressInfo')[1] }}"{% endif %}
                       required/>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class='form-group'>
                <select class="form-control" name="state" required>
                    {% if session.get('addressInfo') != None %}
                            <option>{{ session['addressInfo'][2] }}</option>
                        {% else %}
                            <option value="" disabled selected hidden>State</option>
                        {% endif %}
                        {% for n in states %}
                            {% if n != session.get('addressInfo')[2] %}
                                <option>
                                        {{n}}
                                </option>
                            {% endif %}
                        {% endfor %}
                </select>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class='form-group'>
                <input class="form-control" name="zip" size="5" type="text" pattern="[0-9]{5}" placeholder="Zip Code"
                        {% if session.get('addressInfo') != None %} value ="{{ session.get('addressInfo')[3] }}"{% endif %}
                       required
                       oninvalid="this.setCustomValidity('Please enter a valid 5 digit zip code')"
                           oninput="setCustomValidity('')"/>
            </div>
        </div>
    </div>
        <br>
        <br>

        <a href="/charityRegistration1"><button type="button" class="btn btn-grey leftBox formButtons"><b>Back</b></button></a>
        <button class="btn btn-success rightBox formButtons"><b>Next</b></button>
    </div>
    </form>
</div>
{% endblock %}
